numpy
pandas
streamlit>=1.40.0
langchain
langchain_core
pathlib
langchain_google_genai
langchain_openai
langchain_community
pypdf
python_dotenv
faiss_cpu
presidio_analyzer
presidio_anonymizer
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
boto3
watchdog
